astroid==2.9.0
attrs==21.2.0
aws==0.2.5
awscli==1.22.21
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
black==21.12b0
boto==2.49.0
botocore==1.23.21
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.3
cryptography==35.0.0
distlib==0.3.4
distro==1.6.0
dnspython==2.1.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
eventlet==0.33.0
fabric==2.6.0
filelock==3.4.0
greenlet==1.1.1
idna==3.3
invoke==1.6.0
isort==5.10.1
jmespath==0.10.0
jsonschema==3.2.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
msgpack==1.0.2
mypy-extensions==0.4.3
paramiko==2.8.0
pathlib2==2.3.6
pathspec==0.9.0
platformdirs==2.4.0
prettytable==2.4.0
psycogreen==1.0.2
pyasn1==0.4.8
pycparser==2.21
pylint==2.12.2
PyNaCl==1.4.0
pynvim==0.4.3
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.2
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
s3transfer==0.5.0
six==1.15.0
texttable==1.6.4
toml==0.10.2
tomli==1.2.3
typing_extensions==4.0.1
urllib3==1.26.7
virtualenv==20.10.0
wcwidth==0.2.5
websocket-client==0.59.0
wrapt==1.13.3
